.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 5rem;
  font-size: 2rem;
  background-color: black;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.45;
  z-index: 1;
}

.hero > h1 {
  line-height: 1.5;
  z-index: 100;
  font-size: 3.5rem;
}

.hero > h1 > span {
  color: #18a0fb;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  background-color: #f0f0f0;
}

.div1 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.div1 > p {
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.img {
  width: 100%;
  height: 100%;
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 1rem;
}

.heading {
  font-size: 400;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  animation: fadeIn ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.cards {
  width: 100%;
  position: relative;
  height: 400px;
  overflow: hidden;

  animation: fadeIn ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* Animations for services */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
