.head {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 2.5rem;
  padding: 2rem;
  border-radius: 2%;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.hotline {
  width: 29%;
  padding: 1rem;
  height: 35vh;
  border-radius: 10%;
  background-color: #d9d9d9;
}

.address {
  width: 29%;
  padding: 1rem;
  height: 35vh;
  border-radius: 10%;
  background-color: #d9d9d9;
}

.mail {
  width: 29%;
  padding: 1rem;
  height: 35vh;
  border-radius: 10%;
  background-color: #d9d9d9;
}

.openinghours {
  width: 60%;
  height: 35vh;
  border-radius: 30px;
  background-color: #d9d9d9;
}

.followus {
  width: 29%;
  padding: 1rem;
  height: 35vh;
  border-radius: 10%;
  background-color: #d9d9d9;
}
.location {
  width: 100%;
  height: 35vh;
  border-radius: 30px;
  background-color: #d9d9d9;
}

.para {
  font-weight: bold;
  font-size: 20px;
}

.connect {
  width: 80%;
  /* height: 80vh; */
  margin-top: 20px;
  border-radius: 20px;
  padding: 2.5rem;
}

.form1 {
  width: 40%;
  /* height: 40vh; */
  float: right;
  padding: 2rem;
}

.para1 {
  font-size: 30px;
  margin: 0;
}

.para2 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.input {
  border: none;
  border-bottom: 2px solid #000;
  padding: 2px 0;
  width: 80%;
  margin-bottom: 25px;
}

.input::placeholder {
  font-size: 15px;
}

.input:hover,
.input:focus {
  outline: none;
}
