.container {
  display: flex;
  flex-direction: column;
  /* margin: 5rem 3rem; */
}

.wrap {
  margin: 5rem 0;
  padding: 5rem 3rem;
}

.wrap {
  font-size: 10rem !important;
  font-weight: 300;
}

.wrap i {
  font-weight: 500;
}

.services {
  padding: 5rem 3rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 3rem;
}

.service {
  width: 90%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.service small {
  font-size: 1rem;
  font-weight: 500;
}

.service p {
  font-size: 1.75rem;
}
.service button {
  color: black;
  background-color: transparent;
  border: none;
  border: 1px solid black;
  font-weight: 500;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: linear 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.service button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: black;
  color: white;
  transition: linear 0.3s;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: -1;
}

.service button:hover {
  color: white;
}

.service button:hover::before {
  height: 175%;
}

.section2 {
  display: flex;
  background-color: #f0f0f0;
  flex-direction: column;
  padding: 5rem 3rem;
}

.heading {
  font-size: xx-large;
  font-weight: 300;
  line-height: 1.5;
  align-self: flex-end;
  margin: 3rem 0rem;
}

.heading i {
  font-weight: 500;
}
