.choice {
  width: 95%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.head__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.head__part small {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
}

.choice p {
  font-size: 1.75rem;
}
